3er CURSO/2-CUATRI/SD/PRACTICAS/Práctica 3 (C#)/Cliente_SW_Sudoku/Cliente_SW_Sudoku/Connected Services/GestorJuegos_Web/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GestorJuegos_Web" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="NuevoJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GestorJuegos_Web" minOccurs="0" name="pDifi" type="q1:TipoDificultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoJuegoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevoJuegoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarJuegoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarJuegoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PonerValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
        <xs:element minOccurs="0" name="pFila" type="xs:int" />
        <xs:element minOccurs="0" name="pColumna" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pValor" type="q2:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PonerValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PonerValorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
        <xs:element minOccurs="0" name="pFila" type="xs:int" />
        <xs:element minOccurs="0" name="pColumna" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ObtenerValorResult" type="q3:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
        <xs:element minOccurs="0" name="pFila" type="xs:int" />
        <xs:element minOccurs="0" name="pColumna" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="pValor" type="q4:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarValorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroHuecos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroHuecosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroHuecosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
        <xs:element minOccurs="0" name="pFila" type="xs:int" />
        <xs:element minOccurs="0" name="pColumna" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AyudaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AyudaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Correcto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorrectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CorrectoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSudoku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodJuego" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSudokuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSudokuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>